/* CSS général , all devices */

//Colors primary
$Light-Cyan: hsl(193, 38%, 86%);
$Neon-Green: hsl(150, 100%, 66%);

//Colors neutral
$Grayish-Blue: hsl(217, 19%, 38%);
$Dark-Grayish-Blue: hsl(217, 19%, 24%);
$Dark-Blue: hsl(218, 23%, 16%);

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Manrope", sans-serif;
}

main {
  width: 1440px;
  min-height: 810px;
  background-color: $Dark-Blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  color: $Light-Cyan;
  font-size: 28px;
  font-weight: 800;
}

h1 {
  color: $Neon-Green;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.card {
  background-color: $Dark-Grayish-Blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 540px;
  height: 332px;
  border-radius: 15px;
  border: none;
  padding: 30px;
  margin: 30px;
}

.divider {
  margin: 15px;
  width: 100%;
}

.card-text {
  text-align: center;
  margin: 20px;
}

.advice-btn {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: $Neon-Green;
  cursor: pointer;
  padding: 20px;
  position: absolute;
  top: 60%;
  &:hover {
    box-shadow: 1px 5px 25px -5px $Neon-Green, 5px 5px 25px -5px $Neon-Green,
      -5px 5px 25px -5px $Neon-Green, -5px 5px 25px -5px $Neon-Green;
  }
}

.icon-dice {
  position: absolute;
  width: 24px;
}

.attribution {
  color: $Light-Cyan;
  font-size: 11px;
  text-align: center;
  margin: 40px;
}
.attribution a {
  color: $Neon-Green;
}

/* CSS Mobile */

@media screen and (max-width: 376px) {
  main {
    width: auto;
    height: 100vh;
  }

  .card {
    width: 342px;
    height: 316px;
    border-radius: 10px;
    padding: 20px;
  }

  h1 {
    font-size: 11px;
  }

  p {
    font-size: 24px;
    font-weight: 700;
  }

  .advice-btn {
    top: 63vh;
  }
}
